
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@100..900&display=swap');

/*
body {
  font-family: Arial, sans-serif;
  background-image:url('/assets/back1.png');
  background-repeat: no-repeat;
  background-color: #010101;
  background-position: bottom;
  background-size: contain;
  
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}*/

body{
  background-color: black;
  /*background-image: url(assets/Finalbg.svg);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 450px;
  overflow: hidden;
  
 

  
}

.gitlogf{
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  width: 500px;
}

.user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

.content {
  position: fixed;
    top: 110px;
    left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  padding: 2px;
  box-sizing: border-box;
  font-family: Architects Daughter;
  font-weight: lighter;
  font-size: 30px;
}


.butflex{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  
}
.column {

  box-sizing: border-box;
}

#pull-requests-column {
  margin-right: auto;
}

#issues-column {
  margin-left: auto;
}

h1, h2,h3,h4,h5,h6 {
  color: #faf9f9;
  font-weight: lighter;
}


.btn {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 90px;
  padding: 10px 20px;
  width: 60px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  font-family: Inter;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 15px;
  font-family: Inter;
}

li {
  margin: 10px 0;
}

li a {
  color: #007bff;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

#total-commits {
  font-size: 18px;
  color: #666;
}

li {
  display: flex;
  align-items: center;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

 

  #pull-requests-column, #issues-column {
    margin: 0;
  }
}

/* New try*/


#spaceboy{
 margin-top: 12%;
 margin-left: 32%;
}

#cttty{
  margin-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  z-index: 2;

    position: absolute;
  top: 33%;
  left: 51%;
  transform: translate(-50%, -50%);
}

#u1{
    margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  z-index: -1;

    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}


.stats-container {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 15%;
  gap: 30px;
  margin-bottom: 2px; 
  margin-left: 25%;

}

.stat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  
  border-radius: 5px;
  
}

.stat-box h3 {
  margin: 0 0 10px 0;
  color: white;
  background-color: transparent;
  font-family: Architects Daughter;
  font-weight: lighter;
  font-size: 25px;
}

.stat-box input {
  text-align: center;
  font-size: 14px;
  border-radius: 16px;
  line-height: 1.5;
  padding: 5px 5px;
 /* transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;*/
  border: 2px solid #353434;
  color: white;
  background: #353434;
  display: block;
  height: 36px;
  width: 36px;
  
}


#current-time{
    color: white;
    position: absolute;
  top: 29%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: Inter;
  font-weight: 400;
}

.promo .os-head {
    position: absolute;
  bottom: 20px;
  left: 146px;
  background: -webkit-linear-gradient(#999999, #f5f5f5);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-weight: 300;
  font-size: 15dp;
}

.promo .os-des {
    position: absolute;
  bottom: 0px;
  left: 15px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-weight: lighter;
  
}

.promo .gitty {
    position: absolute;
    bottom: 0px;
    right: 25px;
    color: white;
    size: 20px;
    font-family: Architects Daughter;
    font-weight: lighter;
}

.dj .catdj {
  position: absolute;
  top: 15px;
  right: 136px;
  height: 50px;
  width: 50px;
  z-index: 0;
}

.dj .sounddj{
  position: absolute;
  top: 15px;
  right: 46px;
  height: 10px;
  width: 10px;
  z-index: 0;
}



.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    position: fixed;
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    opacity: 0;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 380px;
    height: 220px;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
    transition:top 0ms ease-in-out 300ms,
               opacity 300ms ease-in-out 0ms,
               transform 300ms ease-in-out;

}

.popup.active {
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    transition:top 0ms ease-in-out 0ms,
               opacity 300ms ease-in-out 0ms,
               transform 300ms ease-in-out;
}

.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #fdfdfd;
    background: rgba(255,255,255,0.15);
    border-radius: 50%;
    cursor: pointer;
}

.popup img{
  border-radius: 50%;
  width: 82px;
  height: 82px;
  text-align: center;

  padding: 0px;
  
}

.popup h1 {
    font-size: 27px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.popup p{
    color: #fdfdfd;
    font-size: 17px;
    margin-top: -10px;
}

p#open-popup {
    position: absolute;
  top: 8px;
  left: 16px;
    font-size: 16px;
    color: #fdfdfd;
    padding: 10px 20px;
    cursor: pointer;
}



.popspotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    position: fixed;
    top: -150%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    opacity: 0;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 380px;
    height: 200px;
    padding: 20px 30px;
    border-radius: 10px;
    z-index: 1000;
    transition:top 0ms ease-in-out 300ms,
               opacity 300ms ease-in-out 0ms,
               transform 300ms ease-in-out;

}

.popspotify.active {
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;
    transition:top 0ms ease-in-out 0ms,
               opacity 300ms ease-in-out 0ms,
               transform 300ms ease-in-out;
}

.popspotify .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    color: #fdfdfd;
    background: rgba(255,255,255,0.15);
    border-radius: 50%;
    cursor: pointer;
}

.popspotify img{
  border-radius: 50%;
  width: 100px;
  height: 82px;
  text-align: center;

  padding: 0px;
  
}

.popspotify h1 {
    font-size: 27px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.popspotify input{
  
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  height: 26px;
  width: 300px;
  :hover {
      border-color: #3d3a3a;
  }
  :focus{
      border-color: #9147ff;
      background: #fff;
  }
  
}
.linkdiv{
  display: flex;
  
}

.popspotify button{
  
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  margin-top: 0px;
  margin-left: 15px;
  font-size: 1rem;
  border-radius: 100%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #ffffff;
 
  background-color: #000;
  :hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }

}

.popspotify p{
    color: #fdfdfd;
    font-size: 17px;
    margin-top: -10px;
}

p#spotify {
    position: absolute;
  top: 8px;
  left: 16px;
    font-size: 16px;
    color: #fdfdfd;
    padding: 10px 20px;
    cursor: pointer;
}

#player {
  position: absolute;
  top: 15px;
  right: 13px;
}

#spotify-embed{
  z-index: 1000;
}

.songbut{

  position: absolute;
  z-index: 5;
  top: 100px;
  right: 46px;
  margin: 1px;
  padding: 5px 10px;
  height: 40px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  z-index: 5;
  border: 0px;
  font-weight: 700;
  background-image: linear-gradient(45deg, #000000 0%, #14141d  51%, #2f2399  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.songbut:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.songbut:active {
  transform: scale(0.95);
}


.button-57 {
  display: block;
  position: absolute;
  z-index: 5;
  top: 100px;
  right: 106px;
  margin: 1px;
  overflow: hidden;
  border: 1px solid #111111;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 12px 18px 17px;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  background: #000;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 70%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* CSS for the popup iframe */
.popup-iframe {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 450px;
  border: none;
  z-index: 1000;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:top 0ms ease-in-out 300ms,
               opacity 300ms ease-in-out 0ms,
               transform 300ms ease-in-out;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


#Roll {
  display: none;
}

.roll{
 display: none;
  position: absolute;
  z-index: 5;
  top: 480px;
  right: 326px;
  margin: 1px;
  padding: 5px 10px;
  height: 40px;
  font-size: 15px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  z-index: 5;
  border: 0px;
  font-weight: 700;
  background-image: linear-gradient(45deg, #000000 0%, #14141d  51%, #2f2399  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.roll:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.roll:active {
  transform: scale(0.95);
}

#loggitb{
  height: 80px;
  width: 80px;
  border-radius: 70px;
 
}
